DJANGO_SETTINGS_MODULE=inspectoria.settings
PYTHON_VERSION=3.12.11
SECRET_KEY=cambiar-en-prod
DEBUG=False
ALLOWED_HOSTS=.onrender.com
CSRF_TRUSTED_ORIGINS=https://*.onrender.com
DATABASE_URL=postgresql://postgres.PROYECTO:[PASSWORD]@aws-0-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1
